body {
    background-color: #B1CC74;
}
h4 {
    color: blue;
}
h2 {
    color: black;
}
button {
    color: brown;
}
p {
    color: #545F66;
}
summary {
    color: purple;
}
ul {
    color: #545F66;
}
h2 {
    color: green;
}
b {
    color: black;
}
footer {
     text-align: center;
}
   
